{% extends "_base.html" %}
{% block title %}Movie Recommender - Impressum{% endblock %}

{% block head %}
{% endblock %}

{% block nav_imp %}active{% endblock %}
{% block nav_results_link %}disabled{% endblock %}

{% block content %}
<h1>This site is done by me.</h1>
The code for this site is on <a href="https://github.com/laumaxim/movie_recommender">github</a>.
This website does not use cookies.
<h2>Epilogue</h2>
<p>The site layour was inspired by the geniuses behind <a href="http://bettermotherfuckingwebsite.com/">this website.</a>
{% endblock %}