{% extends "_base.html" %}
{% block title %}Movie Recommender - Index {% endblock %}


{% block head %}
{% endblock %}

{% block nav_home %}active{% endblock %}

{% block content %}
    This is a movie Recommender
    <h1>Welcome to my page!</h1>
    This is a movie Recommender <br>
    <a href="/movies">Click here to go to the movies page!</a>
{% endblock %}

{% block footer %}
<br>
<p>
    <blockquote>
        "A friend should always underestimate your virtues and an enemy overestimate your faults.
        <br>
        - Han Solo
    </p>
{% endblock %}