{% extends "_base.html" %}
{% block title %}Movie Recommender - Movies{% endblock %}


{% block head %}
<link href="static/jquery.flexdatalist.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block nav_movies %}active{% endblock %}

{% block content %}
  <h4>Neighborhood-Based Collaborative Filtering</h4>
    <form action="/movies">
      <p>Please choose one or more movies from the list.</p>
  
      <input type="text" name="movielist" placeholder="List of movies"
      class="flexdatalist"
      data-min-length="1"
      data-searchContain="true"
      multiple=""
      data-selection-required='1'
      data-data='static/movies.json'
      data-search-in='title'
      data-value-property='movieId'
      data-search-by-word='false'
      required>
      <input type="submit" value="Submit your movie selection">
    </form>

    {% if movies_html %}
    Please rate the movies from 0.5 stars to 5.0 stars.
    <div class="container">
      <form action="/results">
        {% for m in movies_html %}
        <div class="row">
          <div class="col">
            {{m[0]}}
          </div>
          <div class="col-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="{{m[1]}}" id="gridRadios1" value="5" checked>
              <label class="form-check-label" for="gridRadios1">
                Top
              </label>
            </div>
          </div>
              <div class="col-2">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="{{m[1]}}" id="gridRadios1" value="0">
                <label class="form-check-label" for="gridRadios1">
                  Flop
                </label>
                </div>
              </div>
            </div>
          <!--<input type="text" name="{{m[1]}}" placeholder="0.0 - 5.0" required> -->
          <br>
        {% endfor %}
    </div>

        Please also choose an algorithm for the recommender:<br>

        <input type="radio" id="Cosine similarity" name="algo" value="0" checked>
        <label for="Cosine similarity">Cosine Similarity</label><br>
        <input type="radio" id="top_list" name="algo" value="1">
        <label for="top_list">Top List</label><br>
        <input type="submit" value="Submit your ratings"><br>
        This will get your recommendation.<br>
      </form>
    {% endif %}
{% endblock %}

{% block scripts %}
   <script src="static/jquery.flexdatalist.min.js"></script>
   <!--
   <script>
   $('.flexdatalist-json').flexdatalist({
    searchContain: false,
    valueProperty: 'string',
    minLength: 1,
    selectionRequired: 1,
    focusFirstResult: true,
    searchIn: 'title',
    searchByWord: true,
    data: 'static/movies.json'
    });
   </script>-->
{% endblock %}